@font-face {
  font-family: Roboto-Medium;
  src: url(../../fonts/Roboto/Roboto-Medium.ttf)
}

.frame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.new-frame {
  border: none;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
}
.new-frame button{
  font-family: Roboto-Medium;
  width: 4vw;
  height: 6vh;
  background-image: url('../../img/+.png');
  background-repeat: no-repeat;
  outline: none;
  font-size: 12px;
  border: 2px solid rgb(136, 132, 132);
}
.new-frame button:hover{
  cursor: pointer;
}

.frame {
  width: 9vw;
  height: 18vh;
}

@media (max-width: 1300px) {
  .new-frame button{
    font-size: 8px;
  }
}
@media (max-width: 600px) {
  .new-frame button {
    font-size: 0px;
    border: 1px solid rgb(136, 132, 132);
    height: 2vh;
  }
  .new-frame {
    margin-bottom: 2vh;
  }
  .frame {
    height: 10vh;
  }
}