.canvas {
  width: 40vw;
  height: 80vh;

  background: #e5e5e5;
}
#canvas {
  width: 40vw;
  height: 80vh;
}

@media (max-width:600px) {
  .canvas {
    height: 50vh;
  }
  #canvas {
    height: 50vh;
  }
}