@font-face {
  font-family: Roboto-Medium;
  src: url(./fonts/Roboto/Roboto-Medium.ttf)
}

*{
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  height: 10vh;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}
header h2 {
  font-family: Roboto-Medium;
  margin-left: 8vw; 
}

main {
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;

}